<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <script type="module">
        import { headerCustom } from "../../includes/components/header.js";

        const container = document.querySelector(".container");
        const header = headerCustom();
        container.appendChild(header);
    </script>
    <div class="container">

    </div>
    <script></script>
</body>

</html>