.btn {
  width: 15rem;
  height: 4.5rem;
  border: 3px solid maroon;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3rem;
  font-size: 1.3rem;
}

@font-face {
  font-family: "Robot";
  src: url("../includes/fonts/Roboto-Thin.ttf") format("ttf"), url("../includes/fonts/Roboto-Light.ttf") format("ttf"), url("../includes/fonts/Roboto-Regular.ttf") format("ttf"), url("../includes/fonts/Roboto-Medium.ttf") format("ttf"), url("../includes/fonts/Roboto-Bold.ttf") format("ttf"), url("../includes/fonts/Roboto-Black.ttf") format("ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

.container {
  border: 3px solid red;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}
.container #header {
  border: 3px solid black;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 17;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container #header .menu-header {
  border: 3px solid blue;
  width: 40rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container #main {
  border: 3px solid yellow;
  grid-row-start: 3;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end: 17;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container #main .gerar-senha {
  border: 3px solid magenta;
  width: 65%;
  height: 90%;
  padding: 2rem;
}
.container #main .gerar-senha form {
  border: 3px solid navy;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.container #main .gerar-senha form .input-group {
  border: 3px solid lawngreen;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 1rem;
  gap: 1rem;
}
.container #main .gerar-senha form .input-group label {
  font-size: 1.5rem;
}
.container #main .gerar-senha form .input-group input {
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
.container #main .gerar-senha form .btn-group {
  border: 3px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container #main .table {
  border: 3px solid black;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}
.container #main .table .thead {
  border: 3px solid navy;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container #main .table .thead .table-header {
  border: 3px solid magenta;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}
.container #main .table .thead .table-header:nth-child(2) {
  justify-content: flex-end;
}
.container #main .table .tbody {
  border: 3px solid lawngreen;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 0 1rem;
}
.container #main .table .tfooter {
  border: 3px solid indigo;
  display: flex;
  align-items: center;
}
.container #main .table .tfooter .table-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.container #main .table .tfooter .table-row .table-cell {
  border: 3px solid forestgreen;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.container #main .table .tfooter .table-row .table-cell a {
  font-size: 1.5rem;
}
.container #main .table .table-row {
  border: 3px solid indianred;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container #main .table .table-row .table-cell {
  border: 3px solid gold;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 1.3rem;
}
.container #main .table .table-row .table-cell:nth-child(2) {
  justify-content: flex-end;
}
.container #main .table .table-row .table-cell:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container #main .table .table-row .table-cell:nth-child(3) .cell-item {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container #main .table .table-row .table-cell:nth-child(3) .cell-item img {
  width: 2rem;
}
.container #footer {
  border: 3px solid blue;
  grid-row-start: 15;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 17;
}/*# sourceMappingURL=style.css.map */