<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css//style.css" />
  </head>
  <body>
    <div class="container">
      <header id="header">
        <div class="menu-header">
          <div class="btn">
            <a href="../home/index.html" class="link-header-item">
              Gerar Senha
            </a>
          </div>
          <div class="btn">
            <a href="../fraseSeguranca/index.html" class="link-header-item"
              >Frase de segurança</a
            >
          </div>
          <div class="btn">
            <span>Minhas senhas</span>
          </div>

          <div class="btn">
            <a href="#" class="link-header-item">Testar senha</a>
          </div>
        </div>
      </header>

      <main id="main">
        <div class="table">
          <div class="thead">
            <div class="table-row">
              <div class="table-header"></div>
              <div class="table-header"></div>
            </div>
          </div>

          <div class="tbody">
            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>

            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>
          </div>

          <div class="tfooter">
            <div class="table-row"></div>
          </div>
        </div>
      </main>

      <footer id="footer"></footer>
    </div>
  </body>
</html>
