$fonte: black;

@mixin reset {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: $fonte;
    }

    html {
        font-size: 62.5%;
    }
}

@mixin text($size, $weight, $aling, $decoration) {
    font-size: $size;
    font-weight: $weight;
    text-align: $aling;
    text-decoration: $decoration;
}

@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin grid($qtdR, $rows, $qtdC, $columns) {
    display: grid;
    grid-template-rows: repeat($qtdR, $rows);
    grid-template-columns: repeat($qtdC, $columns);
}

@mixin posicaoGrid($startR, $endR, $starC, $endC) {
    grid-row-start: $startR ;
    grid-row-end: $endR;
    grid-column-start: $starC ;
    grid-column-end: $endC;
}

@mixin alturaLargura($width, $height) {
    width: $width;
    height: $height;
}

@mixin fontes {
    @font-face {
        font-family: "Robot";
        src: url("../includes/fonts/Roboto-Thin.ttf") format("ttf"),
            url("../includes/fonts/Roboto-Light.ttf") format("ttf"),
            url("../includes/fonts/Roboto-Regular.ttf") format("ttf"),
            url("../includes/fonts/Roboto-Medium.ttf") format("ttf"),
            url("../includes/fonts/Roboto-Bold.ttf") format("ttf"),
            url("../includes/fonts/Roboto-Black.ttf") format("ttf");
    }
}