<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../../css//style.css" />
  <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>

<body>
  <script type="module">
    import { headerCustom } from "../../includes/components/header.js";

    const container = document.querySelector(".container");
    const header = headerCustom();
    container.appendChild(header);
  </script>
  <div class="container">
    <section id="section">
      <form>
        <label for="barra"></label>
        <input type="text" name="barra">
      </form>
    </section>

    <main id="main">
      <div class="table">
        <div class="thead">
          <div class="table-header"><span>Descricao</span></div>
          <div class="table-header"><span>Senha</span></div>
          <div class="table-header"><span>Acoes</span></div>
        </div>

        <div class="tbody" id="table-body">
          <div class="table-row">
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell">
              <div class="cell-item">
                <img src="../../includes/icons/copy-solid-24.png">
              </div>
              <div class="cell-item">
                <img src="../../includes/icons/pencil-regular-24.png">
              </div>
              <div class="cell-item">
                <img src="../../includes/icons/x-regular-24.png">
              </div>
            </div>
          </div>
        </div>

        <div class="tfooter">
          <div class="table-row">
            <div class="table-cell">
              <img src="../../includes/icons/left-arrow-alt-regular-24.png">
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <i>...</i>
              <img src="../../includes/icons/right-arrow-alt-regular-24.png">
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer"></footer>
  </div>

  <script>
    /**
     * Creates a cell item element with an image, type, URL or ID.
     *
     * @param {string} image - The image source.
     * @param {number} type - The type of the cell item.
     * @param {string} url - The URL or ID of the cell item.
     * @param {string} idElement - The ID of the element.
     * @returns {HTMLElement} - The created cell item element.
     */
    function createCellItem(image, type, url, idElement) {
      // Create the cell item element
      const item = document.createElement("div");
      item.className = "cell-item";

      // Create the image element
      const img = document.createElement("img");
      img.src = image;

      // Create the button element
      const button = (type !== 1) ? document.createElement("a") : document.createElement("button");
      button.appendChild(img);
      button[type !== 1 ? "href" : "id"] = type !== 1 ? url : idElement;

      // Add the button element to the cell item element
      item.appendChild(button);

      // Return the created cell item element
      return item;
    }

    /**
     * Copies the value of an input element to the clipboard when a button is clicked.
     * 
     * @param {string} idBtn - The id of the button element.
     * @param {string} idInput - The id of the input element.
     */
    function copySenha(idBtn, idInput) {
      const input = document.getElementById(idInput);
      const button = document.getElementById(idBtn);

      button.addEventListener("click", function () {
        navigator.clipboard.writeText(input.value);
      });
    }

    new QWebChannel(qt.webChannelTransport, function (channel) {
      // Connect to the QWebChannel and retrieve the "processaFormulario" object
      channel.objects.processaFormulario
        .listaSenhas()
        .then(function (senhas) {
          var tableBody = document.getElementById("table-body");
          var fragment = document.createDocumentFragment();

          // Iterate over each senha in the "senhas" array
          senhas.forEach(function (row) {
            var divRow = document.createElement("div");
            divRow.className = "table-row";

            for (var i = 1; i < row.length; i++) {
              var divCell = document.createElement("div");
              divCell.className = "table-cell";
              divCell.textContent = row[i];

              divRow.appendChild(divCell);
            }

            var inputHidden = document.createElement("input");
            inputHidden.type = "hidden";
            inputHidden.value = row[2];
            inputHidden.id = 'input' + row[0];

            divRow.appendChild(inputHidden);

            var actions = document.createElement("div");
            actions.className = "table-cell";

            var idBtn = 'copy' + row[0];

            var item = createCellItem("../../includes/icons/copy-solid-24.png", 1, "", idBtn);
            actions.appendChild(item);
            item = createCellItem("../../includes/icons/pencil-regular-24.png", 0, "", idBtn);
            actions.appendChild(item);
            item = createCellItem("../../includes/icons/x-regular-24.png", 0, "", idBtn);
            actions.appendChild(item);

            divRow.appendChild(actions);

            fragment.appendChild(divRow);

            copySenha(idBtn, inputHidden.id);
          });

          tableBody.innerHTML = "";
          tableBody.appendChild(fragment);
        });
    });
  </script>
</body>

</html>