<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../../css//style.css" />
  <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>

<body>
  <div class="container">
    <header id="header">
      <div class="menu-header">
        <div class="btn">
          <a href="../home/index.html" class="link-header-item">
            Gerar Senha
          </a>
        </div>
        <div class="btn">
          <span>Minhas senhas</span>
        </div>
      </div>
    </header>

    <section id="section">
      <form>
        <label for="barra"></label>
        <input type="text" name="barra">
      </form>
    </section>

    <main id="main">
      <div class="table">
        <div class="thead">
          <div class="table-header"><span>Descricao</span></div>
          <div class="table-header"><span>Senha</span></div>
          <div class="table-header"><span>Acoes</span></div>
        </div>

        <div class="tbody" id="table-body">
          <div class="table-row">
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell">
              <div class="cell-item">
                <img src="../../includes/icons/copy-solid-24.png">
              </div>
              <div class="cell-item">
                <img src="../../includes/icons/pencil-regular-24.png">
              </div>
              <div class="cell-item">
                <img src="../../includes/icons/x-regular-24.png">
              </div>
            </div>
          </div>
        </div>

        <div class="tfooter">
          <div class="table-row">
            <div class="table-cell">
              <img src="../../includes/icons/left-arrow-alt-regular-24.png">
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
              <i>...</i>
              <img src="../../includes/icons/right-arrow-alt-regular-24.png">
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer"></footer>
  </div>

  <script>
    function createCellItem(image, tipo, url, idElemento) {
      var item = document.createElement("div");
      item.className = "cell-item";

      var img = document.createElement("img");
      img.src = image;

      if (tipo != 1) {
        var button = document.createElement("a");
        button.href = url;
      }
      else {
        var button = document.createElement("button");
        button.id = idElemento;
      }

      button.appendChild(img);
      item.appendChild(button);

      return item;
    }

    function copySenha(idBtn, idInput) {
      var input = document.getElementById(idInput);
      var button = document.getElementById(idBtn);

      button.addEventListener("click", function () {
        var textArea = document.createElement("textarea");
        textArea.value = input.value;

        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
      });
    }

    new QWebChannel(qt.webChannelTransport, function (channel) {
      channel.objects.processaFormulario
        .listaSenhas()
        .then(function (senhas) {
          var tableBody = document.getElementById("table-body");

          tableBody.innerHTML = "";

          senhas.forEach(function (row) {
            var divRow = document.createElement("div");
            divRow.className = "table-row";

            for (var i = 1; i < row.length; i++) {
              var divCell = document.createElement("div");
              divCell.className = "table-cell";
              divCell.textContent = row[i];

              divRow.appendChild(divCell);
            }

            var inputHidden = document.createElement("input");
            inputHidden.type = "hidden";
            inputHidden.value = row[2];

            divRow.appendChild(inputHidden);

            var actions = document.createElement("div");
            actions.className = "table-cell";

            var idBtn = "copy" + row[0]
            var idInput = "input" + row[0];

            inputHidden.id = idInput;

            item1 = createCellItem("../../includes/icons/copy-solid-24.png", 1, "", idBtn);
            item2 = createCellItem("../../includes/icons/pencil-regular-24.png", 0, "", idBtn);
            item3 = createCellItem("../../includes/icons/x-regular-24.png", 0, "", idBtn);

            actions.appendChild(item1);
            actions.appendChild(item2);
            actions.appendChild(item3);

            divRow.appendChild(actions);

            tableBody.appendChild(divRow);

            copySenha(idBtn, idInput);
          });
        });
    });
  </script>
</body>

</html>