<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <header id="header">
        <div class="menu-header">
          <div class="btn">
            <span>Gerar Senha</span>
          </div>
          <div class="btn">
            <a href="../fraseSeguranca/index.html" class="link-header-item"
              >Frase de segurança</a
            >
          </div>
          <div class="btn">
            <a href="../lista/index.html" class="link-header-item"
              >Minhas senhas</a
            >
          </div>

          <div class="btn">
            <a href="#" class="link-header-item">Testar senha</a>
          </div>
        </div>
      </header>
      <main id="main">
        <div class="gerar-senha">
          <h1>Gerar senha</h1>
          <form action="">
            <div class="input-group">
              <label for="tamanho">Tamanho da senha: </label>
              <input
                type="text"
                name="tamanho"
                placeholder="Tamanho da senha"
              />
            </div>

            <div class="btn-group">
              <button class="btn">Gerar senha</button>
            </div>

            <div class="input-group">
              <label for="senha">Senha gerada: </label>
              <input type="text" name="senha" placeholder="Senha gerada" />
            </div>

            <div class="input-group">
              <label for="descricao">Descricao: </label>
              <input type="text" name="descricao" placeholder="Descricao" />
            </div>

            <div class="btn-group">
              <button class="btn">Salvar senha</button>
              <button class="btn">Limpar</button>
            </div>
          </form>
        </div>
      </main>
      <footer id="footer"></footer>
    </div>
  </body>
</html>
